h1{
  font-family: $font;
  font-size: 32px;
  @include grad($grad);
  text-align: center;
  padding-bottom: 20px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: white;
    color:$color-primary;
  }
}

h2{
  font-family: $font-foot;
  font-size: 32px;
}
