$grad: linear-gradient(to right ,$color-primary, $color-secondary 80%);
$grad-webkit: -webkit-linear-gradient(to right ,$color-primary, $color-secondary 80%);
$grad-moz: -moz-linear-gradient(to right ,$color-primary, $color-secondary 80%);
$grad-o: -o-linear-gradient(to right ,$color-primary, $color-secondary 80%) ;

@mixin grad($grad){
  @include bg-grad($grad);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}
@mixin shadow{
  border-radius: $radius;
  -webkit-box-shadow: 2px 3px 22px -9px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 3px 22px -9px rgba(0,0,0,0.3);
  box-shadow: 2px 3px 22px -9px rgba(0,0,0,0.3);
}

@mixin bg-grad($grad) {
  background: $grad;
  background: $grad-o;
  background: $grad-moz;
  background: $grad-webkit;
}
