$font: 'Open Sans', sans-serif;
$font-color: #282828;

$color-primary: tomato;
$color-secondary: coral;
$color-bg:whitesmoke;

$grey:#a2a2a2;

$radius: 5px;

$mobile-p:"(max-width:575px)";
$mobile-l: "(min-width:576px)";
$tablet: "(min-width:768px)";
$desktop: "(min-width:992px)";
$lgdesktop: "(min-width:1200px)";
$xldesktop: "(min-width:1920px)";
