@import 'partials/var', 'partials/mixins', 'partials/headings',  'partials/select';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: $color-bg;
  color:$font-color;
  font-family: $font;
  font-size: .9em;
}

/******** BOX ************/
.box{
  width:80vw;
  height:max-content;
  margin:3% auto 1%;
  padding:40px;
  background-color: white;
  @include shadow;
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 30% auto;
  grid-gap: 20px;
  border-top: 1px solid #ddd;
}

.item{
  padding:20px;
  align-self: center;
  text-align: center;
  @include shadow;
}

img{
  width: 500px;
}
.img-thumb{
  width: 300px;
  height: 200px;
}
a{
  font-family: $font-foot;
  font-size: 18px;
  text-decoration: none;
  color:$color-primary;
}

.copy{
  margin: 10px auto;
  font-size:.8em;
  color:darken($grey,10%);
  
}
.footnote{

}

.source{

}