@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Shadows+Into+Light+Two");
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  background: linear-gradient(to right, tomato, coral 80%);
  background: -o-linear-gradient(to right, tomato, coral 80%);
  background: -moz-linear-gradient(to right, tomato, coral 80%);
  background: -webkit-linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h1 {
    background: white;
    color: tomato;
  }
}

h2 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 32px;
}

.styled-select {
  display: inline-block;
  background-color: white;
  color: #a2a2a2;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 1.5em;
  padding: .3em;
  position: relative;
  border: solid 1px #a2a2a2;
  border-radius: 5px;
  height: 2.3em;
  width: 100%;
}

@media (min-width: 576px) {
  .styled-select {
    width: 8em;
  }
}

.styled-select:before {
  font-family: "FontAwesome";
  border-width: 0 0 0 1px;
  content: '\f103';
  color: tomato;
  font-size: 1.1em;
  padding-left: .25em;
  position: absolute;
  pointer-events: none;
  right: .35em;
}

#pages, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#pages {
  position: absolute;
  top: 2.3em;
  left: 0px;
  z-index: 100;
  display: none;
  width: 80%;
  margin: 1px;
  padding: 0 2em;
  background-color: white;
  border: none;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  outline-color: rgba(255, 99, 71, 0.2);
}

.selectedPage {
  padding-left: 1em;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  font-weight: 400;
}

.select__id {
  display: none;
  text-align: left;
  padding: 5px;
  margin: 0 5px;
  font-size: .7em;
  color: #a2a2a2;
}

@media (min-width: 992px) {
  .select__id {
    display: flex;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .select__id {
    text-align: left;
    font-size: .6em;
  }
}

.select__cont {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .select__cont {
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .select__cont {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .select__cont {
    flex-direction: row;
    margin-right: 3em;
  }
}

@media (min-width: 1200px) {
  .select__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

select {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid tomato;
  border-radius: 5px;
  background-color: white;
  font-size: .8em;
  font-weight: 700;
  color: tomato;
  text-decoration: none;
  text-align: center;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
}

@media (min-width: 576px) {
  select {
    padding: 5px 10px;
  }
}

select:hover {
  background-color: white;
  color: tomato;
}

select .fa {
  font-size: 1.2em;
  padding-right: 5px;
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
}

/******** BOX ************/
.box {
  width: 80vw;
  height: max-content;
  margin: 3% auto 1%;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 30% auto;
  grid-gap: 20px;
  border-top: 1px solid #ddd;
}

.item {
  padding: 20px;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

img {
  width: 500px;
}

.img-thumb {
  width: 300px;
  height: 200px;
}

a {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 18px;
  text-decoration: none;
  color: tomato;
}

.copy {
  margin: 10px auto;
  font-size: .8em;
  color: #898989;
}
